<h1>Service available for <%= @user.first_name + " " + @user.last_name%>:</h1>

<%= link_to "Create a new service", new_user_service_path(@user)%>

<% if @services.empty?%>
	<h2>No Services Yet To View. Add a service first. </h2>
<% else %>
  <h1>Main Services</h1>
  <table>
    <th>Name</th>
    <th>Description</th>
    <th>Available time/cost</th>
    <th>Actions</th>
	<%@services.each do |s|%>
	  <% if s.main %>
  		<tr>
 		  <td><%= s.name %></td>
		  <td><%= s.description %></td>
			<td><%s.available.each do |key,value|%>
			  <p><%= available_duration(key) + " for " + value + " dollars." %></p>
			<% end %>
			</td>

			<td><%= link_to 'edit', edit_user_service_path(@user,s)%>
			<%= link_to 'show', user_service_path(@user,s)%>
			<%= button_to 'delete', user_service_path(@user,s), :method => :delete%></td>
		</tr>
	  <% end %>
	<% end %>
  </table>	
  <h1>Add-on Services</h1>
  <table>
	 <th>Name</th>
    <th>Description</th>
    <th>Available time/cost</th>
    <th>Available on </th>
    <th>Actions</th>
	<%@services.each do |s|%>
	  <% unless s.main %>
	    <tr>
		  <td><%= s.name %></td>
		  <td><%= s.description %></td>
			<td><%s.available.each do |key,value|%>
			  <p><%= available_duration(key) + " for " + value + " dollars." %></p>
			<% end %>
			</td>
			<td>
			<% if s.prerequisites%>
			  <% s.prerequisites.each do |pre| %>
			  <%= pre.name + " " unless pre.name.blank? %>
			  <% end %>
			<% end %></td>
			
			<td><%= link_to 'edit', edit_user_service_path(@user,s)%>
			<%= link_to 'show', user_service_path(@user,s)%>
			<%= button_to 'delete', user_service_path(@user,s), :method => :delete%></td>
		</tr>
	  <% end %>
 	<% end %>
  </table>	
<% end %>