<% vars = theme(@theme) %>
<table id="back" width="100%" bgcolor="<%= vars[:back_bgcolor] %>" style="<%= vars[:back_border] %>">
      <tr>
        <td align="center">
          <table id="body_wrap" cellspacing="<%= vars[:body_wrap_cellspacing] %>" cellpadding="<%= vars[:body_wrap_cellpadding] %>">
            <tr>
              <td>
                <table id="head" cellspacing="<%= vars[:head_cellspacing] %>" cellpadding="<%= vars[:head_cellpadding] %>" style="<%= vars[:head_text_align] %>">
                  <tr>
                    <td id="logo_wrap" width="<%= vars[:logo_wrap_width]%>">
                      <% logo = @user.image.where(:logo => true)%>
            	      <img src="http://localhost:3000<%= logo[0].image_url %>" width="<%= vars[:logo_image_width] %>"/>
                    </td>
                    <td id = "hgroup_wrap" width="<%= vars[:hgroup_wrap_width] %>">
                      <hgroup style="<%= vars[:hgroup_color] %><%= vars[:hrgoup_font] %>">
                        <h1 style="<%= vars[:hgroup_h1_font_style] << vars[:hgroup_h1_font_size] << vars[:hgroup_h1_margin_bottom] %>"><%= @user.website.title %></h1>
                        <h2 style="<%= vars[:hgroup_h2_font_style] << vars[:hgroup_h2_font_size] << vars[:hgroup_h2_margin_bottom] %>"><%= @user.website.motto %></h2> 
                      </hgroup>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>