<h1><%= @user.name %></h1>
<%= link_to "Edit Profile Information", edit_user_path(current_user) %>

<table>
	<tr>
		<td><h2>Name:</h2></td>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<td><h2>Email:</h2></td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td><h2>URL:</h2></td>
		<td><%= link_to user_path(@user), @user %></td>
	</tr>
</table>