<nav id="quicklinks">
	<ul>
		<li><%= link_to 'Dashboard', dashboard_path %></li>
		<% if current_user.website %>
		<li><%= link_to 'Website', edit_user_websites_path(current_user, current_user.website) %></li>	
		<% else %>
		<li><%= link_to 'Website', new_user_websites_path(current_user, current_user.website) %></li>
		<% end %>
		<li><%= link_to 'Images', user_images_path(current_user) %></li>
		<li><%= link_to 'Contacts', user_contacts_path(current_user) %></li>			
		<% if current_user.blog %>
		<li><%= link_to 'Blog', user_blogs_path(current_user) %></li>	
		<% else %>
		<li><%= link_to 'Blog', new_user_blogs_path(current_user) %></li>
		<% end %>
	</ul>
</nav>