<h1>Create A New Page for <%= @website.title %></h1>

<%= form_for([@user, @website, @page], :url => user_websites_pages_path ) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.label :ptitel %>
	<%= f.text_field :ptitle %>	
	<%= f.label :ptype, "Type:"%>
	<%= f.radio_button :ptype,'Normal' %><%= f.label :ptype,'Normal' %>
	<%= f.radio_button :ptype,'Blog' %><%= f.label :ptype,'Blog' %>
	<%= f.radio_button :ptype, 'Schedule' %><%= f.label :ptype,'Schedule' %>
	<%= f.radio_button :ptype,'Contact' %><%= f.label :ptype,'Contact' %>	
	<%= f.label :indexed%>
	<%= f.radio_button :indexed,'true' %><%= f.label :indexed,'Yes' %>
	<%= f.radio_button :indexed,'false' %><%= f.label :indexed,'No' %>
	<%= f.label :child%>
	<%= f.radio_button :child,'true' %><%= f.label :child,'Yes' %>
	<%= f.radio_button :child,'false' %><%= f.label :child,'No' %>
	
	<%= f.submit %>
	
<% end %>