<h1>Contacts for <%= @user.first_name%>:</h1>

<%=link_to 'Add a Contact', new_user_contact_path(@user) %>

<% if @contacts.empty?%>
	<h2>No Contacts Yet To View. Add a Contact first. </h2>
<% else %>
	<%= will_paginate @contacts %>
	<table id="contacts">
	<th>Name</th>
	<th>Email</th>
	<th>Phone</th>
	<th>Options</th>
	<%@contacts.each do |c|%>
		<tr>
			<td><%= c.first_name << " " << c.last_name %></td>
			<td><%= c.email %></td>
			<td><%= c.phone %></td>
			<td>
				<%= link_to 'edit', edit_user_contact_path(@user,c)%>
				<%= link_to 'show', user_contact_path(@user,c)%>
				<%= button_to 'delete', user_contact_path(@user,c), :method => :delete%>
			</td>
		</tr>
	<% end %>
	</table>	
<% end %>