<h1>Edit <%= @contact.first_name << " " << @contact.last_name %></h1>

<div>
	<h1>Name: <%= @contact.first_name << " " << @contact.last_name %></h1>
	<h2>Email: <%= @contact.email %></h2>
	<p>Phone:<%= @contact.phone %></p>
	<p>Address:<%= @contact.address_l1 %></p>
	<p>Address line 2:<%= @contact.address_l2 %></p>
	<p>City:<%= @contact.city %></p>
	<p>State:<%= @contact.state %></p>
	<p>Zip:<%= @contact.zip %></p>
</div>