<% stylesheet('users') %>
<article id="home">
  <h1>Simplify your Massage Practice's Online Presence</h1>

  <p>
  	You can use this suite of tools to generate a more vibrant practice.
  	The Suite includes all of tools, and knowlege you will need to be
  	successful.
  </p>

  <section id="signup" class="round">
    <section id="signup_text"
      <div>
        <h1>Massage Website Guru is your One-Stop, Go-To destination for all your online massage marketing needs.</h1>
       <p>Our feature list includes:
        <ul>
          <li>Full, Costomizable, Easily Editable Website</li>
          <li>Full service HTML newsletter<li>
          <li>Integrated Blog Software</li>
          <li>Contact Management and easy Direct Email to multiple contacts</li>
          <li>Costomizable Online Scheduler</li>
        </ul>
      </div>
      <div>
        <h1>Full, Costomizable, Easily Editable Website</h1>
        <p>You choose to style, and content or your website! Create as many pages as you want, adjust the menu, add images, maps, and any code you want with absolutely no page limits.
           Your website will have its own address, and include no advertising for other services! Beautiful, full Web 2.0 themes are added monthly, so it is easy to keep the look of your
           online presence fresh, professional, and daynamic!</p>
        
      </div>
    </section>
    <h1>Sign up for Simplissage!</h1>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name %>
	</div>
	
	<div class="field">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</div>
	
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
    <% end %>
  </section>
</article