<%= form_for([@user, @dm], :url => user_direct_mail_index_path) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
	<%= f.label :recipients%>
	<%= recipient_select(@user) %>
	
	<%= f.label :subject %>
	<%= f.text_field :subject %>
	
	<%= f.label :message%>
	<%= f.text_area :message %>
	
	<p>
      <%= f.file_field :attachements %>
    </p>

	
	<%= f.label :theme %>
	<%= f.select :theme, options_for_select([['green','green'],['grey','grey']]) %>
	
	
	<%= f.submit %>
	
<% end %>