<h1>Edit Post</h1>
<%= form_for([@user,@blog,@post],:url => user_blogs_posts_path, :html => {:multipart=>true}) do |p| %>
	<%= render 'shared/error_messages', :object => p.object %>
	<% if @post.ptype == 'image'%>
		<%= p.label :image%>
		<%= p.file_field :image %>
		<h3>or link to a web image</h3>
		<%= p.label :remote_image_url %>
		<%= p.text_field :remote_image_url %>
	<% elsif  @post.ptype == 'block_quote'%>
		<%=p.label :block_quote%>
		<%=p.text_field :block_quote %>
		<%=p.label :q_author, 'Author'%>
		<%=p.text_field :q_author %>	
	<% elsif  @post.ptype == 'link'%>
		<%=p.label :href, "Full Address"%>
		<%=p.text_field :href %>
		<%=p.label :link_text, 'Text'%>
		<%=p.text_field :link_text %>	
	<% elsif  @post.ptype == 'video'%>
		<%=p.label :video, "Full Address"%>
		<%=p.text_field :video %>
		<%=p.label :link_text, 'Text'%>
		<%=p.text_field :link_text %>	
	<% end %>
		<%=p.label :title%>
		<%=p.text_field :title %>
		<%=p.label :content%>
		<%=p.text_area :content %>	
		<%=p.label :tags%>
		<%=p.text_field :tags %>
		<%=p.label :categories%>
		<%=p.text_field :categories %>
		<%=p.hidden_field :ptype%>	
		<%=p.submit%>
<% end %>
