<h1>Posts for <%= @blog.title%>:</h1>

<%= link_to "New Post", new_user_blogs_post_path(@user, :type => "normal")%>

<% if @posts.empty?%>
	<h2>No Posts Yet To View. Add a Post first. </h2>
<% else %>
	<%= will_paginate @posts %>
	<%@posts.each do |p|%>
		<div>
			<h2>Title:<%= p.title %></h2>
			<p>Tags:<%= tag_list(p) %></p>
			<p>Category:<%= p.category.first.name unless p.category.empty? %></p>
			
			<%= link_to 'edit', edit_user_blogs_post_path(@user,p)%>
			<%= link_to 'show', user_blogs_post_path(@user,p)%>
			<%= button_to 'delete', user_blogs_post_path(@user,p), :method => :delete%>
		</div>
	<% end %>	
<% end %>