<head>
  <title><%= @page.ptitle %></title>
  <meta property="og:title" content="Massage Website Guru" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://massage-website.com" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Massage Website Guru" />
  <meta property="fb:admins" content="23807814" />
  <%= stylesheet_link_tag 'reset.css'%>
  <%= stylesheet_link_tag 'pages.css'%>
  <%= stylesheet_link_tag 'map.css'%>
  <%= stylesheet_link_tag @website.theme, :media => 'screen' %>
  
</head>