<!DOCTYPE html>
<html>
	<%= render 'page_head' %>
	<body>
		<article id = <%= @page.id %>>
			<%= render 'page_header' %>
			<div id="box">
				<%= page_content(@page) %>
			</div>
		  <%= render 'page_footer' %>
		</article>
	  <%= render 'page_js' %>
	</body>
</html>