<section id="contact_content">
    <h1>Questions before taking the plunge?</h1>
    <p>We're at your service! Let us know what concerns you have and we'll give the a straight answer,
       no pushy salesman, no bait and switch, ever.</p>
	<h1>We love to hear from you!</h1>
	<p>At Massage Website Guru we love to get feedback from our customers and visitors! 
	   Is our website easy to use? Having trouble finding something? Is there a quesion left unanswered? 
	   We appreciate you taking the time to let us know.</p>
	<blockquote class="round">To get anything worthwile done requires building relationships</blockquote>
    <h1>Reach out for synergy.</h1>
    <p>Doing anything worthwhile in this world requires building and maintaining good relationships with 
       partners and community members. Have an idea that can let us help eachother? Have a community you
       have access to that you want to serve? The hard part, inspiration, is already done, thanks for contacting us.</p>
    <h1>We publish and distribute articles!</h1>
    <p>Whether you are looking for some content to spice up your massage related website, or looking for a place
       to publish your articles, we'd love to hear from you! Any content that adds value to our members, is
       interesting, and is well written is welcome.</p>
</section>
<section id="form">
  <h1>Contact Us Form</h1>
  <p>*Please fill in all fields and we will contact you shortly.</p>
  <%= form_for @message, :url => contact_path do |form| %>
    <fieldset class = "fields">
	  <div class="field">
	    <%= form.label :name %>
	    <%= form.text_field :name %>
	  </div>

	  <div class="field">
		<%= form.label :email %>
		<%= form.text_field :email %>
	  </div>
		
	  <div class="field">
		<%= form.label :subject %>
		<%= form.text_field :subject %>
	  </div>
		
	  <div class="field">
		<%= form.label :body, "Message" %>
		</br>
		<%= form.text_area :body %>
	  </div>
    </fieldset>
	
    <fieldset class ="actions">
	  <%= form.submit "Send" %>
    </fieldset>
  <% end %>
</section>
<br clear="both"/>
