<h1>Images for <%= @user.first_name%>:</h1>

<%=link_to 'Create New Image', new_user_image_path(@user) %>
<div>
	<h2>Logo Picture</h2>
	<p>A logo picture should be small, no more than 200 pixels by 200 pixels.</p>
	<% logo = @user.image.where(:logo => true)%>
	<%= image_tag logo[0].image_url(:thumb) if logo[0]%>
	<hr/>
	<h2>Logo Picture</h2>
	<p>A logo picture should be medium sized, around 400 pixels by 500 pixels.</p>
	<% profile = @user.image.where(:profile => true)%>
	<%= image_tag profile[0].image_url(:thumb) if profile[0]%>
	<hr/>
</div>
	
<% if @images.empty?%>
	<h2>No Images To View. </h2>
<% else %>
	<%@images.each do |i|%>
		<div>
			<%= image_tag i.image_url(:thumb) %>
			<h1><%= i.name %></h1>
			<h2><%= i.alt %></h2>
			<%= link_to 'edit', edit_user_image_path(@user,i)%>
			<%= link_to 'show', user_image_path(@user,i)%>
			<%= button_to 'delete', user_image_path(@user,i), :method => :delete%>
		</div>
	<% end %>	
<% end %>