<%= image_tag ("logo.png"), :alt => "Simplissage Logo" %>
<hgroup>
	<h1>Simplissage</h1>
	<h2>Web Promotion Tools for Massage Therapists</h2>
</hgroup>

<nav>
	<ul>
		<% if signed_in? %>
		<li><%= link_to "Home", dashboard_path %></li>
		<li><%= link_to "Settings", current_user %></li>
		<li><%= link_to "Support", support_user_path(current_user)  %></li>
		<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
		<% else %>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Sign in", signin_path %></li>
		<% end %>
	</ul>
</nav>