<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= render 'layouts/css' %>
	</head>
	<body>
		<article id = "container">
			<header>
				<%= render 'layouts/header' %>
			</header>
			<section>
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</section>
			<footer>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</footer>
		</article>
	</body>
</html>