<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="icon" src="assets/favicon.ico" type="image/x-icon"/>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--!>
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%= yield(:head) %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34318314-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <article class = "container round">
    <header class = "round">
      <%= render 'layouts/header' %>
    </header>
      <section class="main round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
		<% end %>
	    <%= yield %>
	  </section>
	<footer class= "round">
	  <%= render 'layouts/footer' %>
	</footer>
  </article>
  <%javascript_include_tag('application.js')%>
  <%= yield(:foot)%>
</body>
</html>