<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= render 'layouts/css' %>
	</head>
	<body>
		<article id = "container">
			<header>
				<%= render 'layouts/header' %>
			</header>
			<section>
				<%= yield %>
			</section>
			<footer>
				<%= render 'layouts/footer' %>
			</footer>
		</article>
	</body>
</html>